[submodule "obsidian-ghost-publish"]
	path = obsidian-ghost-publish
	url = https://github.com/bramses/obsidian-ghost-publish.git
[submodule "bramses-highly-opinionated-vault-2023"]
	path = bramses-highly-opinionated-vault-2023
	url = https://github.com/bramses/bramses-highly-opinionated-vault-2023
[submodule "chatgpt-md"]
	path = chatgpt-md
	url = https://github.com/bramses/chatgpt-md.git
[submodule "summarize-with-gpt3-obsidian"]
	path = summarize-with-gpt3-obsidian
	url = https://github.com/bramses/summarize-with-gpt3-obsidian.git
[submodule "moon"]
	path = moon
	url = https://github.com/bramses/moon
[submodule "chatgpt-export"]
	path = chatgpt-export
	url = https://github.com/bramses/chatgpt-export.git
[submodule "eleven-labs-obsidian"]
	path = eleven-labs-obsidian
	url = https://github.com/bramses/eleven-labs-obsidian.git
[submodule "switchboard"]
	path = switchboard
	url = https://github.com/bramses/switchboard.git
[submodule "i-aint-reading-all-that"]
	path = i-aint-reading-all-that
	url = https://github.com/bramses/i-aint-reading-all-that.git
[submodule "youtube-assets-from-video"]
	path = youtube-assets-from-video
	url = https://github.com/bramses/youtube-assets-from-video.git
[submodule "query-zettel-embeddings-obsidian"]
	path = query-zettel-embeddings-obsidian
	url = https://github.com/bramses/query-zettel-embeddings.git
[submodule "ytclip-10s"]
	path = ytclip-10s
	url = https://github.com/bramses/ytclip-10s.git
[submodule "process-notes-alfred"]
	path = process-notes-alfred
	url = https://github.com/bramses/process-notes-alfred.git
[submodule "spotify-recently-played-markdown-list"]
	path = spotify-recently-played-markdown-list
	url = https://github.com/bramses/spotify-recently-played-markdown-list
[submodule "alfred-workflows"]
	path = alfred-workflows
	url = https://github.com/bramses/alfred-workflows.git
