[submodule "obsidian-ghost-publish"]
	path = obsidian-ghost-publish
	url = https://github.com/bramses/obsidian-ghost-publish.git
[submodule "bramses-highly-opinionated-vault-2023"]
	path = bramses-highly-opinionated-vault-2023
	url = https://github.com/bramses/bramses-highly-opinionated-vault-2023
[submodule "chatgpt-md"]
	path = chatgpt-md
	url = https://github.com/bramses/chatgpt-md.git
[submodule "summarize-with-gpt3-obsidian"]
	path = summarize-with-gpt3-obsidian
	url = https://github.com/bramses/summarize-with-gpt3-obsidian.git
[submodule "moon"]
	path = moon
	url = https://github.com/bramses/moon
[submodule "chatgpt-export"]
	path = chatgpt-export
	url = https://github.com/bramses/chatgpt-export.git
[submodule "eleven-labs-obsidian"]
	path = eleven-labs-obsidian
	url = https://github.com/bramses/eleven-labs-obsidian.git
[submodule "switchboard"]
	path = switchboard
	url = https://github.com/bramses/switchboard.git
